.container{
  height: 45vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:antiquewhite;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 20px;
  font-weight: 500;
}